<header>
    <div class="header_wrapper">
        <p class="logo">{{data.companyName}}</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product1/">Product 1</a></li>
                <li><a href="/product1/support/">Product 2</a></li>
                <li><a href="/press-releases/">Press Releases</a></li>
            </ul>
        </nav>
    </div>
</header>